<form class="{{cssClass}} flexcol" autocomplete="off">
    {{> "systems/mwii/templates/item/parts/item-header.html"}}

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "MWII.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "MWII.Details" }}</a>
    </nav>

    <section class="sheet-body">
        {{> "systems/mwii/templates/item/parts/item-description.html"}}

        <div class="tab details flexrow" data-group="primary" data-tab="details">
            <div class="form-group">
                <label class="bt-old">{{localize "MWII.Armor.Type.Title"}}</label>
                <select name="data.type">
                    {{#select data.type}}
                    {{#each config.armorTypes as |type t|}}
                    <option value="{{t}}">{{type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group stacked">
                <label class="bt-old">{{localize "MWII.Armor.Coverage.Title"}}</label>
                {{#each config.armorCoverage as |name prop|}}
                <label class="checkbox">
                    <input type="checkbox" name="data.coverage.{{prop}}" {{checked (lookup ../data.coverage prop)}} /> {{name}}
                </label>
                {{/each}}
            </div>
            {{#if isBA}}
            <div class="form-group">
                <label class="bt-old">{{localize "MWII.Armor.BuildMod"}}</label>
                <input type="text" name="data.build" value="{{data.build}}" data-dtype="Number" />
            </div>
            {{/if}}
            <h4 class="bt-old">{{localize "MWII.Armor.Damage.Title"}}</h4>
            <div class="form-group multiple">
                <label class="bt-old">{{localize "MWII.Armor.Energy"}}</label>
                <input type="text" name="data.energy.value" value="{{data.energy.value}}" />
                <select name="data.energy.type">
                    {{#select data.energy.type}}
                    {{#each config.armorDamageAbsortionValueTypes as |v k|}}
                    <option value="{{k}}">{{v}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group multiple">
                <label class="bt-old">{{localize "MWII.Armor.Ballistic"}}</label>
                <input type="text" name="data.ballistic.value" value="{{data.ballistic.value}}" />
                <select name="data.ballistic.type">
                    {{#select data.ballistic.type}}
                    {{#each config.armorDamageAbsortionValueTypes as |v k|}}
                    <option value="{{k}}">{{v}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group multiple">
                <label class="bt-old">{{localize "MWII.Armor.Melee"}}</label>
                <input type="text" name="data.melee.value" value="{{data.melee.value}}" />
                <select name="data.melee.type">
                    {{#select data.melee.type}}
                    {{#each config.armorDamageAbsortionValueTypes as |v k|}}
                    <option value="{{k}}">{{v}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group multiple">
                <label class="bt-old">{{localize "MWII.Armor.Damage.Capacity"}}</label>
                <input type="text" name="data.damage_capacity.value" value="{{data.damage_capacity.value}}" data-dtype="Number" />
                <span class="sep"> / </span>
                <input type="text" name="data.damage_capacity.max" value="{{data.damage_capacity.max}}" data-dtype="Number" />
            </div>
            <h4 class="bt-old">{{localize "MWII.Armor.Encumbrance.Title"}}</h4>
            <div class="form-group">
                <label class="bt-old">{{localize "MWII.Armor.Encumbrance.Movement"}}</label>
                <input type="text" name="data.encumbrance.movement" value="{{data.encumbrance.movement}}" />
            </div>
            <div class="form-group">
                <label class="bt-old">{{localize "MWII.Armor.Encumbrance.Physical"}}</label>
                <input type="text" name="data.encumbrance.physical" value="{{data.encumbrance.physical}}" />
            </div>
            <div class="form-group">
                <label class="bt-old">{{localize "MWII.Armor.Encumbrance.Athletic"}}</label>
                <input type="text" name="data.encumbrance.athletic" value="{{data.encumbrance.athletic}}" />
            </div>
            {{#if isBA}}
            <h4 class="bt-old">{{localize "MWII.Armor.Critical.Damage"}}</h4>
            <div class="form-group stacked">
                {{#each config.armorCriticals as |name prop|}}
                <label class="checkbox">
                    <input type="checkbox" name="data.critical.{{prop}}" {{checked (lookup ../data.critical prop)}} /> {{name}}
                </label>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </section>
</form>