.dice-roll .margin-success,
.dice-roll .margin-failure {
    flex: 0;
    font-weight: bold;
    position: relative;
    margin: 0;
    margin-top: 5px;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
}

.dice-roll .margin-success {
    color: #18520b;
}

.dice-roll .margin-failure {
    color: #aa0200;
}

.dice-roll .margin-success.critical {
    color: lightgreen;
}

.dice-roll .margin-failure.failure {
    color: red;
}
