.dice-roll {
    &.mwii {
        margin-top: 5px;
        border-top: 1px solid #aaa;
    }
    .breakdown {
        .margin-success {
            color: #0b7c0b;
        }
    
        .margin-failure {
            color: #aa0200;
        }

        .margin-failure.failure,
        .margin-success.critical {
            font-weight: bold;
            font-style: italic;
        }

        .damage.critical {
            color: #0b7c0b;
            font-weight: bold;
            font-style: italic;
        }

        div {
            margin: 0 0 5px 0;
            font-size: var(--font-size-12);
            color: var(--color-text-dark-secondary);

            .label {
                font-style: italic;
            }
        }
    }
}
