.mwii.sheet.item {
    input[type="text"], select {
        border: none;
        border-bottom: 1px solid #333;
        border-radius: unset;
        background: transparent;
        margin: 0 0 5px 0;
        text-align: center;

        &:focus {
            box-shadow: 0 0 2px #333;
            outline: none;
        }
    }

    select {
        padding: 0;
        text-align: left;
    }

    .sheet-header {
        .header-details {
            img.profile {
                border: none;
                flex: 0 0 75px;
                height: 75px;
                margin-right: 5px;            
            }

            .charname {
                flex: 0 0 275px;

                input[type="text"] {
                    text-align: left;
                }

                label {
                    font-size: 15px;
                }
            }

            .summary {
                flex: 0 0 120px;
                height: 87px;
                line-height: 35px;
                padding-top: 18px;

                input[type="text"] {
                    text-align: left;
                }

                label {
                    font-size: 15px;
                }
            }

            .item-subtitle {
                //flex: 0 0 144px;
                text-align: right;

                h4.item-type {
                    font-size: 15px;
                }

                span.item-status {
                    font-size: 12px;                    
                }
            }
        }
    }

    .sheet-body {
        .sep {
            text-align: center;
        }

        .item-properties {
            flex: 0 0 33%;
            margin-right: 10px;
            border-right: 1px solid #999;
            padding-right: 5px;

            label {
                flex: 0 0 110px;
                font-size: 8px;
            }
            
            .form-group.multiple {
                label {
                    flex: 0 0 100%;
                }

                .larger {
                    flex: 0 0 61px;
                    margin-right: 5px;
                }

                .smaller {
                    flex: 0 0 120px;
                    height: 24px;
                }
            }

            .properties-list {
                list-style-type: none;
            }

            h6.item-properties-title {
                font-weight: normal;
                margin: 10px auto;                
            }
        }

        .details {
            .form-group {
                flex: 0 0 100%;
                
                label {
                    flex: 0 0 33%;
                    font-size: 12px;
                    margin-right: 5px;
                }

                &.multiple {
                    input {
                        flex: 0 0 61px;
                    }
                    
                    select {
                        height: 24px;
                        flex: 0 0 120px;
                    }
                }

                .range-label {
                    flex: 0 0 10%;
                    font-size: 8px;
                }

                &.stacked {
                    label {
                        margin: 0;
                    }

                    label.bt-old {
                        flex: 0 0 100%;
                    }
                }
            }
        }
    }
}