<div class="tab flexrow active" data-group="primary" data-tab="description">
    <div class="item-properties">
        {{#if isPhysical}}
        <div class="form-group">
            <label class="checkbox bt-old">
                {{localize "MWII.Equipped"}} <input type="checkbox" name="data.equipped" {{checked data.equipped}}/>
            </label>            
        </div>

        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Quantity"}}</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
        </div>

        <div class="form-group multiple">
            <label class="bt-old">{{localize "MWII.Weight"}}</label>
            <input class="larger" type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="Number" />
            <select class="smaller" name="data.weight.uom">
                {{#select data.weight.uom}}
                {{#each config.unitsOfMeasureWeight as |name type|}}
                <option value="{{type}}">{{~name~}}</option>
                {{/each}}
                {{/select}}
            </select>            
        </div>

        <div class="form-group">
            <label class="bt-old">{{localize "MWII.ItemCost"}}</label>
            <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />            
        </div>

        <div class="form-group">
            <label class="bt-old">{{localize "MWII.TechLevel.Title"}}</label>
            <select name="data.tech_level">
                {{#select data.tech_level}}
                {{#each config.itemTechLevel as |v k|}}
                <option value="{{k}}">{{~v~}}</option>
                {{/each}}
                {{/select}}
            </select>            
        </div>

        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Availability.Title"}}</label>
            <select name="data.availability">
                {{#select data.availability}}
                {{#each config.itemAvailability as |v k|}}
                <option value="{{k}}">{{~v~}}</option>
                {{/each}}
                {{/select}}
            </select>            
        </div>

        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Legality.Title"}}</label>
            <select name="data.legality">
                {{#select data.legality}}
                {{#each config.itemLegality as |v k|}}
                <option value="{{k}}">{{~v~}}</option>
                {{/each}}
                {{/select}}
            </select>            
        </div>

        {{#if isPowerPack}}
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Power.Capacity"}}</label>
            <input type="text" name="data.capacity.min" value="{{data.capacity.min}}" data-dtype="Number" />
            <span class="sep"> / </span>
            <input type="text" name="data.capacity.max" value="{{data.capacity.max}}" data-dtype="Number" />            
        </div>
        {{else}}
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Power.Usage"}}</label>
            <input type="text" name="data.power_use.value" value="{{data.power_use.value}}" data-dtype="Number" />
            <span class="sep"> / </span>
            <input type="text" name="data.power_use.per" value="{{data.power_use.per}}" />            
        </div>
        {{/if}}
        {{/if}}

        {{#if isVehicle}}
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Vehicle.Types.Title"}}</label>
            <select name="data.type">
                {{#select data.type}}
                {{#each config.vehicleTypes as |vee type|}}
                <option value="{{type}}">{{~vee~}}</option>
                {{/each}}
                {{/select}}
            </select>            
        </div>
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Vehicle.Chasis"}}</label>
            <input type="text" name="data.chasis" value="{{data.chasis}}" />            
        </div>
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Vehicle.Weight.Class"}}</label>
            <input type="text" name="data.weight_class" value="{{data.weight_class}}" />            
        </div>
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.Vehicle.Weight.Title"}}</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />            
        </div>
        {{/if}}

        {{#if isAdvantage}}
        <div class="form-group">
            <label class="bt-old">{{localize "MWII.PointCost"}}</label>
            <input type="text" name="data.cost.min" value="{{data.cost.min}}" data-dtype="Number" />
            <span class="sep"> / </span>
            <input type="text" name="data.cost.max" value="{{data.cost.max}}" data-dtype="Number" />            
        </div>
        {{/if}}

        {{#if itemProperties}}
        <h6 class="bt-old item-properties-title">{{localize "MWII.Properties.Title"}}</h6>
        <ol class="properties-list">
        {{#each itemProperties}}
            <li>{{this}}</li>
        {{/each}}
        </ol>
        {{/if}}
    </div>

    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</div>