<header class="sheet-header flexrow">
    <div class="header-details flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
            <label class="bt-old">{{localize "MWII.CharacterName"}}</label>
        </h1>
        
        <div class="summary">
            <input type="text" name="data.source" value="{{data.source}}" placeholder="{{localize "MWII.Source"}}" />
            <label class="bt-old">{{localize "MWII.Source"}}</label>
        </div>

        <div class="item-subtitle">
            <h4 class="item-type bt-old">{{itemType}}</h4>
            {{#if itemSubType}}
            <div class="item-subtype bt-old">{{itemSubType}}</div>
            {{/if}}
            {{#if itemStatus}}
            <div class="item-status bt-old">{{itemStatus}}</div>
            {{/if}}
        </div>
    </div>
</header>
